@media (min-width:320px) and (max-width:575.99px) {

    /* ==============
    navbar start
    ================= */
    .navbar-toggler {
        border: 1px solid white;
        border-radius: 5px;
        color: white;
        margin-left: 134px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-brand img {
        width: 95px;
    }

    .nav-link {
        color: black;
    }

    .nav-item:hover .nav-link {
        color: #bbbbcb;
    }

    .nav-btn {
        margin-top: 16px;
        margin-left: 0px;
        padding: 0px 28px;
        transform: translateX(-24%);
    }

    .navbar-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;

    }

    .navbar-collapse {
        background: white;
        border-radius: 10px;
        margin-left: 95px;
    }
    /* ==============
    navbar start
    ================= */
     /* ==============
    banner start
    ================= */
    .banner .col-lg-6{
	display: flex;
	flex-direction: column;
	align-items: center;
    }
    .banner h1 {
	font-size: 25px;
	margin-top: 5px;
    margin-bottom: 24px;
    width: 48%;
    text-align: center;
    margin: 0 auto;
}
.banner p {
	font-size: 10px;
	margin-bottom: 27px;
    width: 66%;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;

}
.banner-btn {
	padding: 5px 10px;
	border-radius: 20px;
	margin-bottom: 20px;
}
.view-pricing {
	font-size: 14px;
    margin-left: 0;
}
.banner img {
	margin-top: 80px;
	margin-bottom: 110px;
	width: 95%;
}
.project .title {
	display: flex;
	justify-content: space-evenly;
}
.project .view-pricing i {
	position: absolute;
	top: 3px;
	right: -18px;
}
.project .project-card img{
    width: 97%;
}
.project .project-card-two img{
    width: 97%;
}
 /* ==============
    banner end
    ================= */
    /* ==============
    work start
    ================= */
    .work {
	padding: 45px 0;
}
.work .title{
    margin-bottom: 20px;
}
   .work .title h2 {
        font-size: 25px;

}
.work .title p {
	margin: 0;
	width: 171px;
    font-size: 10px;
}
.work-ani {
	font-size: 10px;
}
.work .view-pricing i{
    position: absolute;
    top: 2px;
    right: -22px;
}
.work-card {
	width: 99%;
	box-shadow: 0px 2px 5px 2px rgba(0, 0, 0,.5);
	border-radius: 5px;
    padding: 20px;
}
.work-card img{
    width: 25px;
}
.work-card h4 {
	font-size: 15px;
	
}
.work .title p {
	width: 123px;
	font-size: 7px;
}
/* ==============
    work end
    ================= */
    /* ==============
    project start
    ================= */
    .project {
	margin-top: -5px;
	margin-bottom: 128px;
}
 .project .title h2 {
	font-size: 14px;
}
.project .view-pricing{
    font-size: 10px;
}
    /* ==============
    project end
    ================= */
}