@media (min-width:320px) and (max-width:575.99px) {

    /* ==============
    navbar start
    ================= */
    .navbar-toggler {
        border: 1px solid white;
        border-radius: 5px;
        color: white;
        margin-left: 134px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-brand img {
        width: 95px;
    }

    .nav-link {
        color: black;
    }

    .nav-item:hover .nav-link {
        color: #bbbbcb;
    }

    .nav-btn {
        margin-top: 16px;
        margin-left: 0px;
        padding: 0px 28px;
        transform: translateX(-24%);
    }

    .navbar-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;

    }

    .navbar-collapse {
        background: white;
        border-radius: 10px;
        margin-left: 95px;
    }
    /* ==============
    navbar start
    ================= */
     /* ==============
    banner start
    ================= */
    .banner h1 {
	font-size: 25px;
	margin-top: 5px;
    margin-bottom: 24px;
}
.banner p {
	font-size: 10px;
	margin-bottom: 27px;
}
.banner-btn {
	padding: 5px 10px;
	border-radius: 20px;
	margin-bottom: 139px;
}
.view-pricing {
	font-size: 14px;
}
.banner img {
	margin-top: 80px;
	margin-bottom: 110px;
	width: 95%;
}
 /* ==============
    banner end
    ================= */

}